body{    
    font-family: 'Poppins', sans-serif;

    background-color: #e6e6e6;
    #root{
        width: 100%;
        min-height: 100vh;

        h1{ 
            position: relative;
            text-align: center;
            margin-top: 150px;
            font-weight: 700;
            font-size: 36px;
            color: #138073;

            @media only screen and (max-width:520px){
                font-size: 24px;
            }
        }

        div{
            position: relative;
            margin-left: auto;
            margin-right: auto;
            padding: 20px;

            width: 520px;
            height: auto;
            background-color: #fff;
            color: #138073;

            @media only screen and (max-width:520px){
                width: 100%;
            }
            p{
                font-weight: 300;
                font-size: 16px;
                span{
                    font-weight: 500;
                }
            }
            input{
                display: block;
                margin-left: auto;
                margin-right: auto;
                padding-left: 20px;

                width: 480px;
                height: 64px;

                font-weight: 400;
                font-size: 16px;
                
                color: #b3b3b3;
                background-color: #fff;
                border: solid 3px;
                border-color: #999;

                @media only screen and (max-width:520px){
                    width: 100%;
                }
            }
        }
        
    }
}   